<body class="body">
<%= render :partial => 'layouts/header' %>

<div class="info3">
    <h2 class="learn">Learn more - read an article</h2>
    <div class="articles">
        <div class="articles1">
            <h5 class="article-title">Articles by Gloria Flores published on SelfGrowth.com</h5>
            <ul class="selfgrowth">
                <li><a href="http://www.selfgrowth.com/articles/craniosacral-therapy-an-alternative-approach-for-autism">How CST Helps Autism</a></li>

                <li><a href='http://www.selfgrowth.com/articles/craniosacral-therapy-helps-ptsd'>Craniosacral Therapy Helps PTSD</a></li>

                <li><a href="http://www.selfgrowth.com/articles/craniosacral-therapy-helps-addadhd">CST Helps ADD/ADHD</a></li>

                <li><a href="http://www.selfgrowth.com/articles/craniosacral-therapy-supports-self-healing">CST Supports Self-Healing</a></li>
                
                <li><a href="http://www.selfgrowth.com/articles/craniosacral-therapy-heals-bodymindspirit">CST Heals Body-Mind-Spirit</a></li>
                
                <li><a href="http://www.selfgrowth.com/articles/the-healing-power-of-nurturing-touch">The Healing Power of the Human Touch</a></li>
            </ul>
        </div>

        <div class="articles2">
            <h5 class="article-title">Articles by Gloria Flores published on The Messenger</h5>
            <ul class="messenger">
                <li><a href="http://www.themessenger.info/content/articles/health-a-healing-2/health-practices/item/1711-your-body%E2%80%99s-wisdom">Your Body's Wisdom</a></li>

                <li><a href="http://www.themessenger.info/content/articles/health-a-healing-2/health-practices/item/1577-is-craniosacral-therapy-for-you?">Is Craniosacral Therapy for You?</a></li>

                <li><a href="http://www.themessenger.info/content/articles/health-a-healing-2/item/655-are-you-depressed?">Are you depressed?</a></li>
                
                <li><a href="http://www.themessenger.info/content/articles/health-a-healing-2/item/617-women-and-migraines">Women and Migraines</a></li>
            </ul>
        </div>
    </div>

    <br />
    
    <div class="cst-class">
        <h2 class="class">Learn more - take a class</h2>
        <h4>Craniosacral Therapy Classes:</h4>
        <h5>Upledger Institute Craniosacral Therapy Introduction (CSTI)</h5>
        <br />
        <p>
            This 12-hour,  2-day class is OPEN TO THE PUBLIC. The workshop explores the History of CranioSacral Therapy, and the Anatomy & Physiology of the CranioSacral System. Students will develop light-touch palpation skills, and learn a full-body evaluation and treatment protocol for working with the fascia and membrane systems. Students will learn powerful and effective techniques for helping both themselves and others. A Certificate of Completion will be issued to each student from the Upledger Institute, along with 12 Continuing Education Hours for professional licensing. The next workshop is scheduled for Saturday and Sunday, June 7 & 8, 2014 at <%= link_to 'Wellness Works', 'http://wellnessworksglendale.org/', :class => "yelp" %> in Glendale, CA. To request a flyer for this class please send a request on my 'Visit Us' page.
        </p>
    </div>
</div>

<p class="copyright">© 2013 by Gloria Flores, CST-D</p>




