<body class="body1">
<%= render :partial => 'layouts/header' %>

<div class="info2">
    <div class="map">
        <%= image_tag("map.png", :class => "map-img",:alt => "map of location") %>
    </div>
    <div class="office">
        <%= image_tag("office.jpg", :class => "office",:alt => "picture of office building") %>
    </div>
    <div>
        <h2 class="appointment">Make an Appointment</h2>

        <br />
        
        <div class="contact">
            <h5>Gloria Flores, CST-D</h5>
            <br />
            <p>
                Craniosacral Therapy <br />
                10000 Riverside Dr., #17 <br />
                Toluca Lake, CA 91602 <br />
            </p>
            <br />
            <p>
                Tel: 818-919-3363​ <br />
                Email: <a href="mailto:gloria@craniosacralcare.com?subject=Appointment Information">gloria@craniosacralcare.com</a>
            </p>
        </div>
    </div>
</div>

<p class="copyright">© 2013 by Gloria Flores, CST-D</p>