$pagination-hover-color: #004400;
$pagination-color: #007700;
$pagination-hover-bg: #CCDDBB;

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  background-color: #CCDDBB;
  color: #333;
  font-family: 'Gilda Display', serif;
  font-size: 13px;
  line-height: 18px;
  height: 1400px;
  margin: 0 auto;
}

.body {
  height: 1150px;
  margin: 0 auto;
}

.body1 {
  height: 1100px;
  margin: 0 auto;
}

.body2 {
  height: 1300px;
  margin: 0 auto;
}

.body3 {
  height: 1300px;
  margin: 0 auto;
}

.copyright {
  padding-left: 365px;
  padding-top: 20px;
}

@media(max-width: 481px) {
  body {
    width: 480px;
  }
  .body {
    width: 480px;
  }
  .body1 {
    width: 480px;
  }
  .body2 {
    width: 480px;
  }
  .body3 {
    width: 480px;
  }
}

@media(max-width: 401px) {
  body {
    width: 400px;
  }
  .body {
    width: 400px;
  }
  .body1 {
    width: 400px;
  }
  .body2 {
    width: 400px;
  }
  .body3 {
    width: 400px;
  }
}

@media(max-width: 321px) {
  body {
    width: 300px;
  }
  .body {
    width: 300px;
  }
  .body1 {
    width: 300px;
  }
  .body2 {
    width: 300px;
  }
  .body3 {
    width: 300px;
  }
}

/* home page upper */

.title {
  height: 292px;
  width: 1000px;
  margin-left: 440px;
  background-color: white;
  margin-bottom: 150px;
}

.flower{
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 10px;
  float: left;
}

.name {
  padding-top: 5px;
  float: left;
  width: 600px;
  height: 160px;
}

.gloria {
  padding-left: 20px;
  font-size: 45px;
  padding-top: 30px;
  margin-bottom: -20px;
  color: #40502F;
}

.certificate {
  padding-left: 5px;
  padding-top: 24px;
  padding-right: 130px;
  font-size: 20px;
  float: right;
  color: #808000;
}

.certification {
  padding-top: 0px;
  color: #808000;
}

.cranio {
  margin-top: -5px;
  padding-left: 100px;
  color: #808000;
}

.health {
  padding-left: 100px;
}

.carousel {
  height: 290px;
  width: 370px;
  float: right;
}

.carousel-indicators{
  display: none;
}

.line {
  margin-top: 5px;
  height: 4px;
  background-color: #808000;
  width: 1000px;
  margin-left: 440px;
}

.line1 {
  height: 4px;
  background-color: #808000;
  width: 1000px;
  margin-left: 440px;
  margin-top: -150px;
}

.line2 {
  height: 4px;
  background-color: #808000;
  width: 1000px;
  margin-left: 440px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.pagination {
  height: 40px;
  width: 1001px;
  margin-left: 440px;
  background-color: white;
  margin-top: 7px;
  border-bottom: 2px;
}

.page {
  height: 40px;
  text-align: center;
  width: 201px;
  font-size: 20px;
  margin-left: 100px;
  font-family: 'Gilda Display', serif;
  color: #6B8E23;
}

.page:hover {
  background-color: #556B2F;
}

@media(max-width: 1681px){
  .title {
    margin-left: 340px;
  }
}

@media(max-width: 1550px){
  .copyright {
    padding-left: 300px;
  }
  .title {
    margin-left: 250px;
  }
  .line {
    margin-left: 250px;
  }
  .line1 {
    margin-left: 250px;
  }
  .line2 {
    margin-left: 250px;
  }
  .pagination {
    margin-left: 250px;
  }
}

@media(max-width: 1450px){
  .title {
    margin-left: 220px;
  }
  .line {
    margin-left: 220px;
  }
  .line1 {
    margin-left: 220px;
  }
  .line2 {
    margin-left: 220px;
  }
  .pagination {
    margin-left: 220px;
  }
}

@media(max-width: 1367px){
  .copyright {
    padding-left: 230px;
  }
  .title {
    margin-left: 190px;
  }
  .line {
    margin-left: 190px;
  }
  .line1 {
    margin-left: 190px;
  }
  .line2 {
    margin-left: 190px;
  }
  .pagination {
    margin-left: 190px;
  }
}

@media(max-width: 1281px){
  .copyright {
    padding-left: 165px;
  }
  .title {
    margin-left: 140px;
  }
  .line {
    margin-left: 140px;
  }
  .line1 {
    margin-left: 140px;
  }
  .line2 {
    margin-left: 140px;
  }
  .pagination {
    margin-left: 140px;
  }
}

@media(max-width: 1200px){
  .copyright {
    padding-left: 125px;
  }
  .title {
    margin-left: 90px;
  }
  .line {
    margin-left: 90px;
  }
  .line1 {
    margin-left: 90px;
  }
  .line2 {
    margin-left: 90px;
  }
  .pagination {
    margin-left: 90px;
  }
}

@media(max-width: 1125px){
  .copyright {
    padding-left: 85px;
  }
  .title {
    margin-left: 45px;
  }
  .line {
    margin-left: 45px;
  }
  .line1 {
    margin-left: 45px;
  }
  .line2 {
    margin-left: 45px;
  }
  .pagination {
    margin-left: 45px;
  }
}

@media(max-width: 1025px){
  .copyright {
    padding-left: 75px;
  }
  .title {
    margin-left: 38px;
    width: 950px;
  }
  .line {
    margin-left: 38px;
    width: 950px;
  }
  .line1 {
    margin-left: 38px;
    width: 950px;
  }
  .line2 {
    margin-left: 38px;
    width: 950px;
  }
  .pagination {
    margin-left: 38px;
    width: 951px;
  }
  .page {
    width: 191px;
  }
  .name {
    width: 550px;
  }
  .certificate {
    padding-right: 70px;
    padding-top: 23px;
  }
}

@media(max-width: 950px){
  .copyright {
    padding-left: 50px;
  }
  .title {
    margin-left: 0px;
  }
  .line {
    margin-left: 0px;
  }
  .line1 {
    margin-left: 0px;
  }
  .line2 {
    margin-left: 0px;
  }
  .pagination {
    margin-left: 0px;
  }
}

@media(max-width: 850px){
  .copyright {
    padding-left: 55px;
  }
  .title {
    margin-left: 0px;
    width: 850px;
    height: 260px;
  }
  .line {
    margin-left: 0px;
    width: 850px;
  }
  .line1 {
    margin-left: 0px;
    width: 850px;
  }
  .line2 {
    margin-left: 0px;
    width: 850px;
  }
  .pagination {
    margin-left: 0px;
    width: 851px;
  }
  .page {
    width: 171px;
  }
  .flower{
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .name {
    width: 400px;
  }
  .gloria {
    font-size: 35px;
    padding-top: 25px;
  }
  .certificate {
    padding-right: 19px;
    padding-top: 15px;
    font-size: 18px;
  }
  .certification {
    font-size: 23px;
  }
  .cranio {
    margin-top: -5px;
    padding-left: 50px;
    font-size: 23px;
  }
  .health {
    padding-left: 50px;
  }
  .carousel {
    height: 260px;
    width: 350px;
    float: right;
  }
  .carousel-inner > .item > img {
    height: 260px;
    width: 350px;
  }
}

@media(max-width: 769px){
  .title {
    margin-left: 9px;
    width: 750px;
  }
  .line {
    margin-left: 10px;
    width: 750px;
  }
  .line1 {
    margin-left: 10px;
    width: 750px;
  }
  .line2 {
    margin-left: 10px;
    width: 750px;
  }
  .pagination {
    margin-left: 10px;
    width: 751px;
  }
  .page {
    width: 151px;
  }
}

@media(max-width: 641px){
  .copyright {
    padding-left: 50px;
    padding-top: 17px;
  }
  .title {
    margin-left: 0px;
    width: 640px;
    height: 260px;
  }
  .line {
    margin-left: 0px;
    width: 640px;
  }
  .line1 {
    margin-left: 0px;
    width: 640px;
  }
  .line2 {
    margin-left: 0px;
    width: 640px;
  }
  .pagination {
    margin-left: 0px;
    width: 641px;
  }
  .page {
    width: 129px;
    font-size: 18px;
  }
  .flower{
    padding-top: 25px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .name {
    width: 370px;
  }
  .gloria {
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 5px;
  }
  .certificate {
    padding-left: -50px;
    padding-top: -20px;
    font-size: 18px;
    padding-bottom: 5px;
  }
  .certification {
    font-size: 21px;

  }
  .cranio {
    padding-left: 35px;
    font-size: 21px;
  }
  .health {
    padding-left: 35px;
  }
  .carousel {
    height: 260px;
    width: 250px;
    float: right;
  }
  .carousel-inner > .item > img {
    height: 260px;
    width: 250px;
  }
}

@media(max-width: 565px){
  .copyright {
    padding-left: 50px;
    padding-top: 17px;
  }
  .title {
    width: 565px;
    height: 250px;
  }
  .line {
    width: 565px;
  }
  .line1 {
    width: 565px;
  }
  .line2 {
    width: 565px;
    margin-top: -15px;
  }
  .pagination {
    margin-left: 0px;
    width: 566px;
  }
  .page {
    width: 114px;
    font-size: 15px;
    height: 50px;
    padding: 10px;
  }
  .flower {
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 5px;
  }
  .name {
    width: 330px;
  }
  .gloria {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .certificate {
    padding-right: 3px;
    margin-top: -1px;
    font-size: 18px;
    padding-bottom: 5px;
    height: 19px;
  }
  .certification {
    font-size: 20px;
    padding-right: 0px;
    width: 300px;
  }
  .cranio {
    padding-left: 30px;
    font-size: 20px;
    padding-right: 0px;
    width: 330px;
  }
  .health {
    padding-left: 30px;
    padding-right: 0px;
    width: 280px;
  }
  .carousel {
    margin-top: 45px;
    height: 150px;
    width: 190px;
    float: right;
  }
  .carousel-inner > .item > img {
    height: 150px;
    width: 190px;
  }
}

@media(max-width: 481px){
  .copyright {
    padding-left: 50px;
    padding-top: 17px;
  }
  .title {
    margin-left: 10px;
    width: 460px;
    height: 240px;
  }
  .line {
    margin-left: 10px;
    width: 460px;
  }
  .line1 {
    margin-left: 10px;
    width: 460px;
  }
  .line2 {
    margin-left: 10px;
    width: 460px;
    margin-top: -15px;
  }
  .pagination {
    margin-left: 10px;
    width: 461px;
  }
  .page {
    width: 93px;
  }
  .flower {
    padding-top: 15px;
    padding-left: 5px;
  }
  .name {
    width: 320px;
  }
  .gloria {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .certificate {
    padding-right: 3px;
    margin-top: -6px;
    font-size: 18px;
    padding-bottom: 5px;
    height: 19px;
  }
  .certification {
    font-size: 20px;
    padding-right: 0px;
    width: 300px;
  }
  .cranio {
    padding-left: 11px;
    width: 300px;
  }
  .health {
    padding-left: 10px;
    padding-right: 0px;
  }
  .carousel {
    margin-top: 62px;
    height: 110px;
    width: 140px;
    float: right;
  }
  .carousel-inner > .item > img {
    height: 110px;
    width: 140px;
  }
}

@media(max-width: 401px){
  .copyright {
    padding-left: 50px;
    padding-top: 17px;
  }
  .title {
    margin-left: 10px;
    width: 380px;
    height: 230px;
  }
  .line {
    margin-left: 10px;
    width: 380px;
  }
  .line1 {
    margin-left: 10px;
    width: 380px;
  }
  .line2 {
    margin-left: 10px;
    width: 380px;
    margin-top: -15px;
  }
  .pagination {
    margin-left: 10px;
    width: 381px;
  }
  .page {
    width: 77px;
    font-size: 13px;
    height: 50px;
    padding: 10px;
  }
  .flower {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
  }
  .name {
    width: 360px;
  }
  .gloria {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 0px;
  }
  .certificate {
    padding-right: 18px;
    margin-top: -4px;
    font-size: 18px;
    padding-bottom: 5px;
    height: 19px;
  }
  .certification {
    font-size: 20px;
    padding-right: 0px;
    width: 300px;
  }
  .cranio {
    padding-left: 25px;
    font-size: 20px;
    padding-right: 0px;
    width: 330px;
  }
  .health {
    padding-left: 15px;
    padding-right: 0px;
    width: 330px;
  }
  .carousel {
    display: none;
  }
}

@media(max-width: 301px){
  .copyright {
    padding-left: 40px;
    padding-top: 17px;
  }
  .title {
    margin-left: 0px;
    width: 300px;
    height: 260px;
  }
  .line {
    margin-left: 0px;
    width: 300px;
  }
  .line1 {
    margin-left: 0px;
    width: 300px;
  }
  .line2 {
    margin-left: 0px;
    width: 300px;
    margin-top: -15px;
  }
  .pagination {
    margin-left: 0px;
    width: 301px;
  }
  .page {
    width: 61px;
    font-size: 13px;
    height: 50px;
    padding-left: 0px;
  }
  .flower {
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 2px;
  }
  .name {
    width: 280px;
  }
  .gloria {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .certificate {
    padding-right: 135px;
    font-size: 18px;
    padding-bottom: 5px;
    margin-top: -20px;
    height: 19px;
  }
  .certification {
    font-size: 21px;
    padding-top: 20px;
    padding-left: 11px;
    width: 300px;
  }
  .cranio {
    padding-left: 11px;
    font-size: 20px;
    padding-right: 0px;
    width: 300px;
  }
  .health {
    padding-left: 11px;
    padding-right: 0px;
    width: 300px;
  }
  .carousel {
    display: none;
  }
}




/* home page lower */

.info {
  width: 1000px;
  height: 950px;
  margin-left: 440px;
  background-color: white;
  margin-top: -10px;
}

.info-title{
  color: #40502F;
}

.main {
  width: 650px;
  padding-left: 100px;
  padding-top: 35px;
}

.mission {
  color: #556B2F;
}

.signed-by {
  color: #707000;
}

.expertise {
  float: right;
  padding-top: 50px;
  padding-right: 50px;
}

.areas {
  color: #40402F;
  padding-left: 21px;
}

.place {
  margin-bottom: 2px;
  font-family: 'Open Sans', serif;
  color: #556B2F;
  font-size: 16px;
}

.session {
  color: #556B2F;
  font-size: 16px;
}

.serving {
  color: #556B2F;
  font-size: 16px;
}

.iahp {
  padding-bottom: 14px;
  padding-left: 5px;
}

.credit {
  padding-left: 18px;
}

p, ol, ul, td {
  font-family: 'Open Sans', serif;
  font-size: 15px;
  line-height: 18px;
}

a {
  color: #909000;
}

@media(max-width: 1681px){
  .info {
    margin-left: 340px;
  }
}

@media(max-width: 1550px){
  .info {
    margin-left: 250px;
  }
}

@media(max-width: 1450px){
  .info {
    margin-left: 220px;
  }
}

@media(max-width: 1367px){
  .info {
    margin-left: 190px;
  }
}

@media(max-width: 1281px){
  .info {
    margin-left: 140px;
  }
}

@media(max-width: 1200px){
  .info {
    margin-left: 90px;
  }
}

@media(max-width: 1125px){
  .info {
    margin-left: 45px;
  }
}

@media(max-width: 1025px){
  .info {
    margin-left: 38px;
    width: 950px;
    height: 860px;
  }
  .expertise {
    padding-right: 40px;
  }
  .areas {
    padding-left: 25px;
  }
}

@media(max-width: 950px){
  .info {
    margin-left: 0px;
  }
  .main {
    padding-left: 70px;
    width: 600px;
  }
  .expertise {
    padding-right: 30px;
  }
  .areas {
    padding-left: 25px;
  }
}

@media(max-width: 850px){
  .info {
    width: 850px;
    height: 925px;
  }
  .main {
    width: 475px;
    padding-left: 50px;
    padding-top: 25px;
  }
  .expertise {
    padding-right: 25px;
  }
  .areas {
    padding-right: 15px;
  }
  .iahp {
    padding-bottom: 14px;
    padding-right: -5px;
  }
  .credit {
    padding-right: -5px;
  }
}

@media(max-width: 769px){
  .info {
    margin-left: 10px;
    width: 750px;
    height: 925px;
  }
  .main {
    width: 450px;
    padding-left: 50px;
    padding-top: 25px;
  }
  .expertise {
    padding-right: 10px;
  }
}

@media(max-width: 641px){
  .info {
    margin-left: 0px;
    width: 640px;
    height: 1020px;
  }
  .main {
    width: 365px;
    padding-left: 30px;
    padding-top: 23px;
  }
  .expertise {
    padding-right: 1px;
    width: 230px;
  }
  .areas {
    padding-right: 15px;
  }
  .iahp {
    padding-bottom: 14px;
    padding-right: -5px;
  }
  .credit {
    padding-right: -5px;
  }
}

@media(max-width: 565px){
  .info {
    margin-left: 0px;
    width: 565px;
    height: 1700px;
  }
  .main {
    width: 530px;
    margin-left: 10px;
    padding-right: 20px;
    padding-top: 23px;
    float: center;
  }
  .info-title{
    padding-bottom: 15px;
  }
  .expertise {
    padding-left: 160px;
    width: 500px;
    position: absolute;
    top: 1135px;
  }
  .areas {
    padding-right: 15px;
  }
  .iahp {
    padding-bottom: 14px;
    padding-right: -5px;
  }
  .credit {
    padding-right: -5px;
  }
}

@media(max-width: 481px){
  .info {
    margin-left: 10px;
    width: 460px;
    height: 1700px;
  }
  .main {
    width: 430px;
    padding-left: 30px;
    padding-top: 23px;
    float: center;
  }
  .expertise {
    padding-left: 125px;
    width: 500px;
    position: absolute;
    top: 1150px;
  }
  .areas {
    padding-right: 15px;
  }
  .iahp {
    padding-bottom: 14px;
    padding-right: -5px;
  }
  .credit {
    padding-right: -5px;
  }
}

@media(max-width: 401px){
  .info {
    margin-left: 10px;
    width: 380px;
    height: 1900px;
  }
  .main {
    width: 360px;
    padding-left: 40px;
    padding-top: 20px;
    float: center;
    padding-right: 10px;
  }
  .expertise {
    padding-left: 75px;
    width: 500px;
    position: absolute;
    top: 1350px;
  }
  .areas {
    padding-right: 15px;
  }
  .iahp {
    padding-bottom: 14px;
    padding-right: -5px;
  }
  .credit {
    padding-right: -5px;
  }
}

@media(max-width: 301px){
  .info {
    margin-left: 0px;
    width: 300px;
    height: 2225px;
  }
  .main {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 23px;
    float: center;
  }
  .info-title{
    font-size: 25px;
  }
  .expertise {
    padding-left: 33px;
    width: 500px;
    position: absolute;
    top: 1700px;
  }
  .areas {
    padding-right: 15px;
  }
  .iahp {
    padding-bottom: 14px;
    padding-right: -5px;
  }
  .credit {
    padding-right: -5px;
  }
}



/* About */

.info0 {
  width: 1000px;
  height: 850px;
  margin-left: 440px;
  background-color: white;
  margin-top: -10px;
}

.index-main {
  width: 675px;
  padding-left: 100px;
  padding-top: 35px;
}

.main-title {
  color: #40502F;
}

.CST-D {
 margin-bottom: -45px;
 font-size: 20px;
 color: #40502F;
}

.qualified {
  color: #909000;
}

.expertise1 {
  float: right;
  padding-top: 50px;
  padding-right: 95px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  color: #40502F;
}

h5 {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  margin-bottom: 3px;
  color: #909000;
}

.yelp {
  font-size: 15px;
}

@media(max-width: 1680px){
  .info0 {
    margin-left: 340px;
  }
}

@media(max-width: 1550px){
  .info0 {
    margin-left: 250px;
  }
}

@media(max-width: 1450px){
  .info0 {
    margin-left: 220px;
  }
}

@media(max-width: 1367px){
  .info0 {
    margin-left: 190px;
  }
}

@media(max-width: 1281px){
  .info0 {
    margin-left: 140px;
  }
}

@media(max-width: 1200px){
  .info0 {
    margin-left: 90px;
  }
}

@media(max-width: 1125px){
  .info0 {
    margin-left: 45px;
  }
}

@media(max-width: 1025px){
  .info0 {
    margin-left: 38px;
    width: 950px;
    height: 860px;
  }
  .expertise1 {
    padding-right: 45px;
  }
}

@media(max-width: 950px){
  .info0 {
    margin-left: 0px;
  }
  .index-main {
    padding-left: 70px;
  }
}

@media(max-width: 850px){
  .info0 {
    width: 850px;
    height: 940px;
  }
  .index-main {
    width: 475px;
    padding-left: 50px;
    padding-top: 25px;
  }
  .expertise1 {
    padding-right: 45px;
  }
}

@media(max-width: 769px){
  .info0 {
    margin-left: 10px;
    width: 750px;
    height: 925px;
  }
}

@media(max-width: 641px){
  .info0 {
    margin-left: 0px;
    width: 640px;
    height: 1000px;
  }
  .index-main {
    width: 400px;
    padding-left: 30px;
    padding-top: 23px;
  }
  .expertise1 {
    padding-right: 15px;
  }
}

@media(max-width: 565px){
  .info0 {
    margin-left: 0px;
    width: 565px;
    height: 1200px;
  }
  .index-main {
    width: 500px;
    padding-left: 50px;
    padding-top: 23px;
  }
  .expertise1 {
    top: 1200px;
    padding-left: 120px;
    width: 500px;
    position: absolute;

  }
}

@media(max-width: 481px){
  .info0 {
    margin-left: 10px;
    width: 460px;
    height: 1250px;
  }
  .index-main {
    width: 400px;
    padding-left: 30px;
    padding-top: 23px;
  }
  .expertise1 {
    top: 1245px;
    padding-left: 120px;
    width: 500px;
    position: absolute;

  }
}

@media(max-width: 401px){
  .info0 {
    margin-left: 10px;
    width: 380px;
    height: 1250px;
  }
  .index-main {
    width: 360px;
    padding-left: 40px;
    padding-top: 23px;
    padding-right: 10px;
  }
  .main-title {
    font-size: 25px;
    width: 380;
  }
  .expertise1 {
    padding-left: 80px;
  }
}

@media(max-width: 301px){
  .info0 {
    margin-left: 0px;
    width: 300px;
    height: 1550px;
  }
  .index-main {
    width: 280px;
    padding-left: 20px;
    padding-top: 23px;
    padding-right: 15px;
  }
  .main-title {
    font-size: 24px;
    width: 280px;
  }
  .licenses {
    width: 280px;
    font-size: 24px;
    padding-right: 10px;
  }
  .expertise1 {
    padding-left: 33px;
    top: 1600px;
  }
}



/* Treatment Page */

.info1 {
  width: 1000px;
  height: 950px;
  margin-left: 440px;
  background-color: white;
  margin-top: -10px;
}

.treatment {
  width: 700px;
  padding-left: 100px;
  padding-top: 45px;
}

.help {
  color: #40502F;
  padding-right: 75px;
  font-size: 26px;
}

.testimonials {
  float: right;
  padding-right: 30px;
  padding-top: 100px;
  width: 250px;
}

.testimonial {
  padding-left: 15px;
  color: #40502F;
}

.client {
  font-size: 16px;
  padding-left: 15px;
}

.rates {
  padding-left: 85px;
}

.consult {
  color: #909000;
}

.button {
  padding-left: 30px;
}

.btn.btn-default {
  background-color: #CCDDBB;
}

.btn.btn-default:hover {
  background-color: #6B8E23;
}

@media(max-width: 1680px){
  .info1 {
    margin-left: 340px;
  }
}

@media(max-width: 1550px){
  .info1 {
    margin-left: 250px;
  }
}

@media(max-width: 1450px){
  .info1 {
    margin-left: 220px;
  }
}

@media(max-width: 1367px){
  .info1 {
    margin-left: 190px;
  }
}

@media(max-width: 1281px){
  .info1 {
    margin-left: 140px;
  }
}

@media(max-width: 1200px){
  .info1 {
    margin-left: 90px;
  }
}

@media(max-width: 1125px){
  .info1 {
    margin-left: 45px;
  }
}

@media(max-width: 1025px){
  .info1 {
    margin-left: 38px;
    width: 950px;
  }
  .testimonials {
    padding-right: 30px;
    padding-top: 100px;
    width: 240px;
  }
  .treatment {
    width: 700px;
    padding-left: 70px;
  }
}

@media(max-width: 950px){
  .info1 {
    margin-left: 0px;
  }
  .treatment {
    width: 650px;
  }
}

@media(max-width: 850px){
  .info1 {
    margin-left: 0px;
    width: 850px;
    height: 1020px;
  }
  .testimonials {
    padding-right: 17px;
    padding-top: 70px;
    width: 220px;
  }
  .treatment {
    width: 510px;
    padding-left: 48px;
    padding-top: 30px;
  }
  .help {
    padding-right: 0px;
    font-size: 24px;
  }
  .rates {
    padding-left: 57px;
  }
  .button {
    padding-left: 20px;
  }
}

@media(max-width: 769px){
  .info1 {
    margin-left: 10px;
    width: 750px;
    height: 1020px;
  }
  .testimonials {
    padding-right: 10px;
  }
}

@media(max-width: 641px){
  .info1 {
    margin-left: 0px;
    width: 640px;
    height: 1280px;
  }
  .testimonials {
    padding-right: 10px;
    padding-top: 80px;
    width: 217px;
  }
  .treatment {
    width: 370px;
    padding-left: 30px;
    padding-top: 25px;
  }
  .rates {
    padding-left: 60px;
  }
}

@media(max-width: 565px){
  .info1 {
    margin-left: 10px;
    width: 565px;
    height: 1925px;
  }
  .testimonials {
    top: 1275px;
    position: absolute;
    width: 380px;
    padding-left: 160px;
  }
  .testimonial {
    padding-left: 30px;
  }
  .treatment {
    width: 500px;
    padding-left: 50px;
    padding-top: 25px;
  }
  .rates {
    padding-left: 80px;
  }
  .button {
    padding-left: 20px;
  }
}

@media(max-width: 481px){
  .info1 {
    width: 460px;
    height: 2000px;
  }
  .testimonials {
    top: 1410px;
    position: absolute;
    width: 350px;
    padding-left: 110px;
  }
  .testimonial {
    padding-left: 40px;
  }
  .treatment {
    width: 440px;
    padding-left: 30px;
  }
}

@media(max-width: 401px){
  .info1 {
    margin-left: 10px;
    width: 380px;
    height: 2200px;
  }
  .testimonials {
    top: 1600px;
    position: absolute;
    width: 320px;
    padding-left: 80px;
    margin-right: 20px;
  }
  .testimonial {
    padding-left: 45px;
  }
  .treatment {
    width: 360px;
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 10px;
  }
  .rates {
    padding-left: 85px;
  }
  .button {
    padding-left: 30px;
  }
}

@media(max-width: 301px){
  .info1 {
    margin-left: 0px;
    width: 300px;
    height: 2605px;
  }
  .testimonials {
    top: 1975px;
    position: absolute;
    width: 260px;
    padding-left: 40px;
    padding-right: 10px;
  }
  .testimonial {
    padding-left: 35px;
  }
  .treatment {
    width: 280px;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 13px;
  }
  .rates {
    padding-left: 75px;
  }
  .button {
    padding-left: 18px;
  }
}




/* Visit Us Page */

.info2 {
  width: 1000px;
  height: 650px;
  margin-left: 440px;
  background-color: white;
  margin-top: -20px;
}

.appointment {
  color: #40502F;
  padding-left: 100px;
  padding-top: 55px;
  font-size: 28px;
}

.map {
  float: right;
  padding-right: 75px;
  padding-top: 100px;
}

.contact {
  padding-left: 100px;  
}

@media(max-width: 1681px){
  .info2 {
    margin-left: 340px;
  }
}

@media(max-width: 1550px){
  .info2 {
    margin-left: 250px;
  }
}

@media(max-width: 1450px){
  .info2 {
    margin-left: 220px;
  }
}

@media(max-width: 1367px){
  .info2 {
    margin-left: 190px;
  }
}

@media(max-width: 1281px){
  .info2 {
    margin-left: 140px;
  }
}

@media(max-width: 1200px){
  .info2 {
    margin-left: 90px;
  }
}

@media(max-width: 1125px){
  .info2 {
    margin-left: 45px;
  }
}

@media(max-width: 1025px){
  .info2 {
    margin-left: 38px;
    width: 950px;
  }
}

@media(max-width: 950px){
  .info2 {
    margin-left: 0px;
    height: 600px;
  }
}

@media(max-width: 850px){
  .info2 {
    margin-left: 0px;
    width: 850px;
    height: 600px;
  }
  .appointment {
    padding-left: 50px;
    padding-top: 45px;
  }
  .contact {
    padding-left: 50px;
  }
}

@media(max-width: 769px){
  .info2 {
    margin-left: 10px;
    width: 750px;
  }
  .map {
    padding-right: 50px;
    padding-top: 75px;
  }
}

@media(max-width: 641px){
  .info2 {
    margin-left: 0px;
    width: 640px;
    height: 500px;
  }
  .appointment {
    padding-left: 30px;
    font-size: 27px;
  }
  .map {
    padding-right: 30px;
    padding-top: 90px;
  }
  .contact {
    padding-left: 30px;  
  }
}

@media(max-width: 565px){
  .info2 {
    margin-left: 0px;
    width: 565px;
    height: 500px;
  }
  .appointment {
    padding-left: 20px;
    font-size: 27px;
    width: 400px;
  }
  .map {
    padding-right: 20px;
    padding-top: 110px;
  }
  .map-img{
    height: 200px;
  }
  .contact {
    padding-left: 20px;  
  }
}

@media(max-width: 481px){
  .info2 {
    margin-left: 10px;
    width: 460px;
    height: 600px;
  }
  .appointment {
    padding-left: 100px;
    font-size: 27px;
    width: 400px;
  }
  .map {
    top: 550px;
    position: absolute;
    padding-left: 110px;
  }
  .map-img{
    height: 200px;
  }
  .contact {
    padding-left: 0px;
    text-align: center;  
  }
}

@media(max-width: 401px){
  .info2 {
    margin-left: 10px;
    width: 380px;
    height: 600px;
  }
  .appointment {
    padding-left: 60px;
    font-size: 27px;
  }
  .map {
    padding-left: 70px;
  }
}

@media(max-width: 301px){
  .info2 {
    margin-left: 0px;
    width: 300px;
    height: 600px;
  }
  .appointment {
    padding-left: 17px;
    font-size: 25px;
  }
  .map {
    padding-left: 23px;
  }
}




/* Learn More Page */

.info3 {
  width: 1000px;
  height: 700px;
  margin-left: 440px;
  background-color: white;
  margin-top: -20px;
}

.learn {
  color: #40502F;
  padding-left: 100px;
  padding-top: 55px;
  font-size: 28px;
}

.article-title {
  color: #40502F;
  font-size: 19px;
}

.articles {
  margin-bottom: 50px;
}

.articles1 {
  padding-left: 100px;
  width: 370px;
  height: 185px;
  float: left;
  margin-bottom: 40px;
}

.articles2 {
  float: right;
  width: 275px;
  height: 185px;
  margin-right: 325px;
  margin-bottom: 40px;
}

.selfgrowth {
  color: #909000;
  font-size: 16px;
}

.messenger {
  color: #909000;
  font-size: 16px;
}

.class {
  color: #40502F;
  font-size: 28px;
}

.cst-class {
  padding-top: 30px;
  padding-left: 100px;
  width: 800px;
  float: left;
}

@media(max-width: 1680px){
  .info3 {
    margin-left: 340px;
  }
}

@media(max-width: 1550px){
  .info3 {
    margin-left: 250px;
  }
}

@media(max-width: 1450px){
  .info3 {
    margin-left: 220px;
  }
}

@media(max-width: 1367px){
  .info3 {
    margin-left: 190px;
  }
}

@media(max-width: 1281px){
  .info3 {
    margin-left: 140px;
  }
}

@media(max-width: 1200px){
  .info3 {
    margin-left: 90px;
  }
}

@media(max-width: 1125px){
  .info3 {
    margin-left: 45px;
  }
}

@media(max-width: 1025px){
  .info3 {
    margin-left: 38px;
    width: 950px;
  }
  .articles2 {
    margin-right: 225px;
  }
}

@media(max-width: 950px){
  .info3 {
    margin-left: 0px;
  }
  .cst-class {
    width: 750px;
  }
}

@media(max-width: 850px){
  .info3 {
    margin-left: 0px;
  }
  .cst-class {
    width: 750px;
  }
}

@media(max-width: 769px){
  .info3 {
    margin-left: 10px;
    width: 750px;
  }
  .learn {
    padding-left: 50px;
    padding-top: 45px;
  }
  .articles1 {
    padding-left: 50px;
  }
  .articles2 {
    margin-right: 90px;
  }
  .cst-class {
    padding-top: 20px;
    padding-left: 50px;
    width: 700px;
    float: left;
  }
}

@media(max-width: 641px){
  .info3 {
    margin-left: 0px;
    width: 640px;
  }
  .learn {
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  .articles1 {
    padding-left: 30px;
    width: 300px;
    height: 155px;
  }
  .articles2 {
    margin-right: 30px;
    width: 260px;
    height: 155px;
  }
  .cst-class {
    padding-top: 20px;
    padding-left: 30px;
    height: 400px;
    width: 550px;
    float: left;
  }
  .class {
    padding-bottom: 10px;
  }
}

@media(max-width: 565px){
  .info3 {
    margin-left: 0px;
    width: 565px;
    height: 805px;
  }
  .learn {
    padding-left: 25px;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  .articles1 {
    padding-left: 15px;
    width: 300px;
    height: 155px;
  }
  .articles2 {
    margin-right: 7px;
    margin-top: -192px;
    width: 260px;
    height: 155px;
  }
  .cst-class {
    padding-top: 20px;
    padding-left: 30px;
    height: 400px;
    width: 485px;
    float: left;
    top: 650px;
    position: absolute;
  }
  .class {
    padding-bottom: 8px;
  }
}

@media(max-width: 481px){
  .info3 {
    margin-left: 10px;
    width: 460px;
    height: 975px;
  }
  .learn {
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  .articles1 {
    padding-left: 60px;
    width: 350px;
    height: 155px;
  }
  .articles2 {
    margin-left: 60px;
    width: 350px;
    height: 155px;
    top: 805px;
    position: absolute;
  }
  .cst-class {
    padding-top: 20px;
    padding-left: 30px;
    height: 400px;
    width: 440px;
    float: left;
    top: 800px;
    position: absolute;
  }
  .class {
    padding-bottom: 10px;
  }
}

@media(max-width: 401px){
  .info3 {
    margin-left: 10px;
    width: 380px;
    height: 1050px;
  }
  .learn {
    padding-left: 15px;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  .articles1 {
    width: 320px;
    height: 155px;
  }
  .articles2 {
    width: 260px;
    height: 155px;
    top: 850px;
  }
  .cst-class {
    padding-top: 20px;
    padding-left: 30px;
    height: 400px;
    width: 360px;
    float: left;
    top: 825px;
  }
  .class {
    padding-bottom: 10px;
  }
}

@media(max-width: 301px){
  .info3 {
    margin-left: 0px;
    width: 300px;
    height: 1200px;
  }
  .learn {
    padding-left: 17px;
    padding-top: 45px;
    padding-bottom: 0px;
    font-size: 26px;
  }
  .articles1 {
    padding-left: 17px;
    padding-bottom: 20px;
    width: 290px;
    height: 155px;
  }
  .articles2 {
    margin-left: 20px;
    margin-right: 5px;
    width: 270px;
    height: 155px;
  }
  .cst-class {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    height: 400px;
    width: 280px;
    float: left;
  }
  .class {
    padding-bottom: 10px;
    font-size: 26px;
  }
}









